<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.robben.bbs.mapper.ImageMapper">    <select id="getImageLocationBySquareId"            resultType="java.lang.String">        select location from  image where squareId=#{squareId}    </select>    <insert id="saveSquareImages" parameterType="java.util.ArrayList">        insert into image(squareId,location) values        <foreach collection="list" item="item" index="index"                 separator=",">            (#{item.squareId},#{item.location})        </foreach>    </insert>    <delete id="deleteImageBySquareId">        delete from image where squareId=#{squareId}    </delete></mapper>