<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.robben.bbs.mapper.PostMapper">    <insert id="postPost">        insert into post(content, readTimes, topic,posterId)        values(#{content},#{readTimes},#{topic},#{posterId})    </insert>    <insert id="postComment">        insert into postsComments(postId, commentContent)        VALUES(#{postId},#{commentContent})    </insert></mapper>