<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.robben.bbs.mapper.PrivateMessageMapper">    <insert id="savePrivateMessage">        insert into PrivateMessage(senderId,content,receiverId)        values(#{senderId},#{content},#{receiverId})    </insert>    <select id="getAllPrivateMessage" resultType="com.robben.bbs.pojo.PrivateMessage">        select * from PrivateMessage where receriverId=#{receiverId} or senderId=#{receiverId}    </select>    <select id="getPrivateMessage" resultType="com.robben.bbs.pojo.PrivateMessage">        select *  from PrivateMessage where (senderId=#{senderId} and receiverId=#{receiverId})        or (senderId=#{receiverId} and receiverId=#{senderId})    </select></mapper>