<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.robben.bbs.mapper.RichTextMapper">    <insert id="saveRichText">        insert into richText(authorId,content) values(#{authorId},#{content})    </insert>    <select id="getRichTextById" resultType="java.lang.String">        select content from richText where id=#{id}    </select></mapper>